<form id="map-form">
    <input type="text" name="username" id="name" placeholder="Name" /> <br>
    <input type="text" name="description" id="description" placeholder="Description" /> <br>
    <input type="text" name="latitude" id="latitude" placeholder="Latitude" /> <br>
    <input type="text" name="longitude" id="longitude" placeholder="Longitude" /> <br>
    <button type="submit">Create</button>
</form>
