<form id="edit-profile-form">
  <div>
    <input type="text" id="profile_photo" name="profile_photo" placeholder="Profile Photo URL"> <br>
    <input type="text" name="username" placeholder="Username" /> <br>
    <input type="password" name="password" placeholder="Password" /> <br>
    <button type="submit">Edit</button>
  </div>
</form>
