<form class="hide" id="login-form">
  <div>
    <input type="text" name="username" placeholder="Username" /> <br>
    <input type="password" name="password" placeholder="Password" /> <br>
    <div>
      <button type="submit">Login</button>
    </div>
  </div>
</form>
