<div class="header">
  <div class="edit-logo">
    <i class="fa-regular fa-pen-to-square"></i>
  </div>
  <div id="profile-picture">
    <!-- prepend profile image here -->
  </div>
  <div id="profile-name">
    <!-- prepend profile name here -->
  </div>
</div>

<div class="profile-maps">

  <label for="favourite-maps">
    <div id="favourite-maps-count" name="favourite-maps">
      <!-- prepend number of favourite maps here -->
    </div>
    <div id="fav-maps">Favourite Maps</div>
  </label>

  <label for="contributed-maps">
    <div id="contributed-maps-count" name="contributed-maps">
      <!-- prepend number of contributed maps here -->
    </div>
    <div id="con-maps">Contributed Maps</div>
  </label>

</div>

<div>
  <div id="favourite-maps">
    <!-- prepend favourite maps here -->
  </div>
  <div id="contributed-maps">
    <!-- prepend contributed maps here -->
  </div>
</div>
