<div class="header">
  <div class="edit-logo">
    <i class="fa-regular fa-pen-to-square"></i>
  </div>
  <div id="edit-profile">
    <!-- Add a form to edit and a edit button to submit -->
  </div>
  <div>
    <!-- prepend profile image here -->
  </div>
  <div id="profile-name">
    <!-- prepend profile name here -->
  </div>
</div>

<div class="profile-maps">

  <label for="favourite-maps">
    <div id="favourite-maps-count" name="favourite-maps">
      <!-- prepend number of favourite maps here -->
    </div>
    <div>Favourite Maps</div>
  </label>

  <label for="contributed-maps">
    <div id="contributed-maps-count" name="contributed-maps">
      <!-- prepend number of contributed maps here -->
    </div>
    <div>Contributed Maps</div>
  </label>

</div>

<div>
  <div id="favourite-maps">
    <!-- prepend favourite maps here -->
  </div>
  <div id="contributed-maps">
    <!-- prepend contributed maps here -->
  </div>
</div>
