<form class="hide" id="register-form">
  <div class="register-form-container">
    <div class="input-container">
      <input type="text" name="profile_photo" placeholder="Profile Photo URL">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
  </div>
    <button class="register-button" type="submit">Register</button>
  </div>
</form>
