// See: https://sass-lang.com/

//common style variables
$logo-font: "Barlow Condensed", sans-serif;

.creator {
  button {
    height: 40px;
    position: absolute;
    top: 17vh;
    right: 70px;
    cursor: pointer;
    z-index: 999;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    outline: none;
    border: none;
  }
}

.user-options {
  font-family: $logo-font;
  font-size: 40px;
  color: azure;
  display: none;
  width: 40vw;
  height: 100vh;
  top: 12vh;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  list-style-type: none;
  z-index: 1000;
  overflow-y: auto;
  p {
    display: flex;
    justify-content: center;
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
      color: black;
    }
  }
}

.map-options {
  display: none;
  position: absolute;
  width: 80%;
  top: 120px;
  right: 0;
  z-index: 1000;
  p {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    margin: 0;
    &:hover {
      background-color: blanchedalmond;
    }
  }
}

.hide {
  display: none;
}

.btn-log-reg-container {
  height: 40%;
  top: 100 px;
  width: 40%;

  div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.login-container {
  font-family: $logo-font;
  font-size: 40px;
  color: azure;
  width: 600px;
  height: 40vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.map-form-container {
  padding: 60px;
}

.edit-profile-container {
  padding: 60px;
}

.btn-login {
  cursor: pointer;
  font-family: $logo-font;
  font-size: 40px;
  background-color:#9fb6c3;
  color: white;
  outline: none;
  border: none;
}
.btn-reg {
  cursor: pointer;
  font-family: $logo-font;
  font-size: 40px;
  background-color:#9fb6c3;
  color: white;
  outline: none;
  border: none;
}
.login-buttons {
  height: 20vh;
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) { // Laptop and up
  .login-container {
    display: flex;
    top: -88px;
    right: 150px;
    transform: unset;
    left: unset;
    width: 300px;
    font-size: 20px;
    z-index: 3000;
  }

  .btn-log-reg-container div {
    flex-direction: row;
  }

  .login-buttons {
    height: 10vh;
  }

  .btn-login {
    font-size: 30px;
  }

  .btn-reg {
    font-size: 30px;
  }

}
