//common style variables
$logo-font: "Barlow Condensed", sans-serif;

#map-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  font-family: $logo-font;
  z-index: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Additional styles for button and input */
#map-form button {
  font-family: $logo-font;
  font-size: 40px;
  background-color: #9fb6c3;
  color: white;
  outline: none;
  border: none;
}

#map-form input {
  font-family: $logo-font;
  font-size: 40px;
}
@media only screen and (min-width: 1024px) {
  #map-form {
    background-color: #9fb6c3;
    border: 5px solid #9fb6c3;
    border-bottom: 20px solid #9fb6c3;
    height: auto;
    #name {
      border: 5px solid #9fb6c3;
    }

    input {
      border: 10px solid #9fb6c3;
    }
  }

}
