#edit-profile-form {
  height: 200px;
  margin-top: 50px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      cursor: pointer;
    }
  }
}
