#login-form {
  height: 200px;
  top: 120px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: row;

      button {
        margin: 0 15px 0 15px;
      }
    }
  }
}
