nav {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: gray;
  top: 0;
  .menu {
    position: fixed;
    left: 30px;
    cursor: pointer;
  }
  .nav-title {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }
  #user-toggle {
    position: fixed;
    right: 30px;
    cursor: pointer;
  }
}



.menu-items {
  display: none;
  width: 80%;
  height: 100vh;
  top: 60px;
  position: fixed;
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1000;
  li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: cadetblue;
    &:hover {
      background-color: slategrey;
    }
    .map-name {
      cursor: pointer;
    }
    .heart {
      // display: none;
      cursor: pointer;
    }
  }
}

// style when heart is clicked
.clicked {
  color: red;
}
