//common style variables
$logo-font: "Barlow Condensed", sans-serif;

nav {
  position: fixed;
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color:#9fb6c3;
  top: 0;
  .menu {
    position: fixed;
    left: 30px;
    cursor: pointer;
  }
  .nav-title {
    display: flex;
    justify-content: center;
    font-family: $logo-font;
    font-weight: 700;
    font-size: 60px;
    color: azure;
    cursor: pointer;
  }
  #user-toggle {
    position: fixed;
    right: 30px;
    cursor: pointer;
  }
}



.menu-items {
  font-family: $logo-font;
  font-size: 40px;
  color: azure;
  display: none;
  width: 80vw;
  height: 100vh;
  top: 5vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  list-style-type: none;
  z-index: 1000;
  overflow-y: auto;
  li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    &:hover {
      background-color: slategrey;
    }
    .map-name {
      cursor: pointer;
    }
    .heart {
      display: none;
      cursor: pointer;
    }
  }
}

// style when heart is clicked
.clicked {
  color: red;
}
