//common style variables
$logo-font: "Barlow Condensed", sans-serif;

.profile-container {
  margin-top: 16vh;
  position: relative;
  width: 100%;
  z-index: 50;
  @media only screen and (min-width: 1024px) {
    border: 5px solid white;
    transform: translate(0px,-5px);
    background-color:white;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-color:#9fb6c3;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  z-index: 50;
}

#profile-picture {
  img {
    height: 100px;
    border: wheat 5px solid;
  }
}

#profile-name {
  font-family: $logo-font;
  font-size: 30px;
  padding: 5px;
}

.profile-maps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #9fb6c3 2px solid;
  height: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: $logo-font;
  font-size: 20px;
  z-index: 50;

  label {
    display: flex;
    align-items: center;

    #favourite-maps-count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      margin: 10px;
      height: 20px;
      border: #9fb6c3 1px solid;
    }

    #fav-maps {
      cursor: pointer;
    }

    #contributed-maps-count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      margin: 10px;
      height: 20px;
      border: #9fb6c3 1px solid;
    }

    #con-maps {
      cursor: pointer;
    }
  }
}

.edit-logo {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#favourite-maps {
  width: 100%;

  li {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9fb6c3;
    margin: 0;

    &:hover {
      background-color: blanchedalmond;
    }
  }
}

#contributed-maps {
  width: 100%;

  li {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9fb6c3;
    margin: 0;

    &:hover {
      background-color: blanchedalmond;
    }
  }
}
