.profile-container {
  margin-top: 60px;
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: #ed8d00;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

#profile-picture {
  img {
    height: 100px;
    border: wheat 5px solid;
  }
}

#profile-name {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.profile-maps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #e88100 2px solid;
  height: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  label {
    display: flex;
    align-items: center;

    #favourite-maps-count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      margin: 10px;
      height: 20px;
      border: #e88100 1px solid;
    }

    #fav-maps {
      cursor: pointer;
    }

    #contributed-maps-count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      margin: 10px;
      height: 20px;
      border: #e88100 1px solid;
    }

    #con-maps {
      cursor: pointer;
    }
  }
}

.edit-logo {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#favourite-maps {
  width: 100%;

  li {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: sandybrown;
    margin: 0;

    &:hover {
      background-color: blanchedalmond;
    }
  }
}

#contributed-maps {
  width: 100%;

  li {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: sandybrown;
    margin: 0;

    &:hover {
      background-color: blanchedalmond;
    }
  }
}
